body {
  background-color: #142d4c;
  color: #ececec;
  text-shadow: 1px 1px black;
}

a {
  color: #ececec;
  text-decoration: none;
}

.page-container {
  text-align: center;
}

.form-control {
  color: #ececec;
  background-color: #385170;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
  padding: 5px;
  width: 30%;
}

.help-text {
  font-size: 12px;
}
