body {
  background-color: #5c5757;
  color: #efecec;
  text-shadow: 1px 1px black;
}

a {
  text-decoration: none;
  color: #62929a;
}

a:hover {
  color: #efecec;
}

a:visited {
  text-decoration: none;
  color: #62929a;
}

a:visited:hover {
  color: #efecec;
}

.row {
  background-color: #363434;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px black;
  padding: 15px;
}

.page-container {
  text-align: center;
}

.form-control {
  color: #efecec;
  background-color: #5c5757;
  border-radius: 5px;
  outline: none;
  padding: 5px;
  margin-top: 10px;
}

.form-control:focus {
  color: #efecec;
  background-color: #5c5757;
  border: 1px solid #62929a;
  box-shadow: 0 0 5px #62929a;
}

.form-control::placeholder {
  color: #efecec;
}

.btn {
  background-color: #62929a !important;
  color: #efecec !important;
  border: 1px solid black;
}

.btn:hover {
  border: 1px solid #62929a;
}

.help-text {
  font-size: 12px;
}
