{% extends 'base.html' %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts_style.css' %}" />
{% endblock %}

{% block body_content %}
<br>
<div class="row">
  <h3>Forgot Password</h3>
  {% if email_sent %}
    <p>An email has been sent to your email address with instructions to reset your password!</p>
  {% else %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Send me instructions!">
    </form>
  {% endif %}
</div>
{% endblock %}
