
body {
  background-color: #3e4a61;
}

.calculator {
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
  width: 50%;
}

.calculator-display {
  background-color: #1a2639;
  box-shadow: 0 0 3px 0 #d9dad7 inset;
  color: white;
  font-size: 24px;
  padding: 5px;
  padding-right: 10px;
  text-align: right;
  border-radius: 10px;
}

.calculator-keys {
  background-color: #3e4a61;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(4, 1fr);
  border: none;
  border-radius: 10px;
  padding: 2px;
}

.calculator-keys > * {
  background-color: #fff;
  padding: 0.5em 1.25em;
  position: relative;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
}

.calculator-keys > *:active::before,
.calculator-keys > .is-depressed::before {
  background-color: #3e4a61;
  bottom: 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
  content: "";
  left: 0;
  opacity: 0.3;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  border-radius: 10px;
  font-weight: bold;
}

.key-operator {
  background-color: #d9dad7;
  border-radius: 10px;
}

.key-equal {
  grid-column: -2;
  grid-row: 2 / span 4;
  background-color: #c24d2c;
  border-radius: 10px;
}
