body {
  background-color: #142d4c;
  color: #ececec;
  text-shadow: 1px 1px black;
}

a {
  color: #ececec;
  text-decoration: none;
}

.event-link {
  color: #ececec;
  text-decoration: none;
  font-size: 12px;
}

.event-link:hover {
  color: #9fd3c7;
}

.calendar {
  width: 90%;
  margin: auto;
  font-size: 14px;
  box-shadow: 3px 3px black;
  border: 1px solid #385170;
}

.calendar tr, .calendar td {
  border: 1px solid #385170;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.calendar td {
  width: 100px;
  height: 100px;
  padding: 10px 0px 0px 5px;
  vertical-align: top;
}

.event-list {
  list-style-type: none;
  padding: 0px;
}

.calendar-list {
  margin-right: 10px;
}

.calendar td:hover {
  color: #9fd3c7;
  background-color: #385170;
}

.month {
  font-size: 14px;
}

.date {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.prev-next-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 25px 0px 0px 10px;
}

.form-control {
  color: #ececec;
  background-color: #385170;
}

.form-label {
  color: #ececec;
}

.form-container {
  text-align: center;
}

.add-btn-container {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.btn {
  background-color: #385170;
  color: #ececec;
  border: none;
  padding: 10px 10px;
  margin-top: 5px;
}

.btn:hover {
  background-color: #142d4c;
  border-color: #ececec;
  border: 1px solid;
}

.event-detail-container {
  text-align: center;
}

.event-detail {
  margin-top: 10px;
}
