{% extends 'base.html' %}
{% block extra_css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'calendar_style.css' %}">
{% endblock %}

{% block body_content %}
<div class="container">

  <div class="row">
    <div class="col">
      {{ calendar }}
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-3 offset-md-2">
      <a class="btn btn-info right mr-2" id="prev-month" href="{% url 'cal:calendar' %}?{{ prev_month }}">Previous Month</a>
    </div>
    <div class="col-md-3">
      <a class="btn btn-info right mr-2" id="add-event-link" href="{% url 'cal:create_event' %}">Add Event</a>
    </div>
    <div class="col-md-3">
      <a class="btn btn-info right mr-2" id="next-month" href="{% url 'cal:calendar' %}?{{ next_month }}">Next Month</a>
    </div>
  </div>

</div>
{% endblock %}
