{% extends 'base.html' %}

{% block body_content %}
<div class="container">

  <div class="row justify-content-around">
    <div class="col-md-4">
      <a class="prev-month" href="{% url 'cal:calendar' %}?{{ prev_month }}">Previous Month</a>
    </div>
    <div class="col-md-4">
      <a class="next-month" href="{% url 'cal:calendar' %}?{{ next_month }}">Next Month</a>
    </div>
  </div>

  <div class="row">
    {{ calendar }}
  </div>

  <div class="row">
    <button class="btn"><a class="add-event-link" href="{% url 'cal:create_event' %}">Add Event</a></button>
  </div>

</div>
{% endblock %}
