{% extends 'base.html' %}
{% block extra_css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'calendar_style.css' %}">
{% endblock %}

{% block body_content %}

<div class="container">
  <div class="row"
    <h3>Create a new event</h3>
  </div>

  <div class="row">
    <form action="{% url 'cal:create_event' %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="text-center">
      <button type="submit" class="btn btn-info right mr-2" name="submit-btn">Submit</button>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col text-center">
      <a class="btn btn-info right mr-2" href="{% url 'cal:calendar' %}">Return</a>
    </div>
  </div>
</div>


{% endblock %}
