{% extends 'base.html' %}

{% block body_content %}
<div class="event-detail-container">
  <p name="title" class="event-detail">{{ event.title }}</p>
  <br>
  <p name="description" class="event-detail">{{ event.description }}</p>
  <br>
  <p name="start_end_times" class="event-detail">{{ event.start_time }} -- {{ event.end_time }}</p>
  <br>
  <button class="btn"><a href="{% url 'cal:delete_event' event_id %}"> Delete </a></button>
  <br>
  <button class="btn"><a href="{% url 'cal:calendar' %}"> Return </a></button>
</div>
{% endblock %}
