{% extends 'base.html' %}
{% block extra_css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'calendar_style.css' %}">
{% endblock %}

{% block body_content %}
<br>
<div class="event-detail-container">
  <p name="title" class="event-detail">{{ event.title }}</p>
  <br>
  <p name="description" class="event-detail">{{ event.description }}</p>
  <br>
  <p name="start_end_times" class="event-detail">{{ event.start_time }} -- {{ event.end_time }}</p>
  <br>
  <a class="btn btn-info right mr-2" href="{% url 'cal:delete_event' event_id %}"> Delete </a>
  <br>
  <a class="btn btn-info right mr-2" href="{% url 'cal:calendar' %}"> Return </a>
</div>
{% endblock %}
