{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'home_style.css' %}">
{% endblock %}

{% block body_content %}
  <div class="row">
    <div class="col-md-10 offset-md-1 jumbotron">
      <div class="text-center">
        <h1>Jonathan Miller</h1>

        <p name="description">
          This website is a portfolio of my programming work.  Here you can see both full sized and mini projects I have done,
          as well as find links to the source code and other information about me. I am a self taught programmer with 5-6 years of self
          learning.  You can go to the About me page to learn more specifics about what languages and tools I have been working on, and to
          learn more about me personally.
        </p>
        <br>
        <p>
          You can find my
          <a name="github-link" href="https://github.com/chondosha1234">github</a>
          page here if you want to see the source code for these projects here
          or other non web development projects.
        </p>
        <br>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card-container">
      <h3 class="project-list-header">Projects</h3>
      <ul class="project-list">
        <li>
          <div class="card" style="width:18rem; height:32rem">
            <img src="{% static 'img/issuetrackerimg.png' %}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Issue Tracker</h5>
              <p class="card-text">
                This is an issue tracker app which is deployed as its own website. You can
                make an account and create projects with issues under them as well as add comments
                and assign users to them.
              </p>
              <a class="btn btn-primary" href="http://issuetracker.chondosha.com">Issue Tracker</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="card-container">
      <h3 class="project-list-header">Mini Projects</h3>
      <ul class="project-list">
        <li>
          <div class="card" style="width:18rem; height:32rem">
            <img src="{% static 'img/todolistimg.png' %}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">To Do List</h5>
              <p class="card-text">
                My version of a simple To Do List. It has options to sign in
                and create your own personalized list.
              </p>
              <a class="btn btn-primary" href="{% url 'todo:todo_list' %}">ToDo List</a>
            </div>
          </div>
        </li>
        <li>
          <div class="card" style="width:18rem; height:32rem">
            <img src="{% static 'img/calendarimg.png' %}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Calendar</h5>
              <p class="card-text">
                A calendar app where you can sign in and create personalized
                events.
              </p>
              <a class="btn btn-primary" href="{% url 'cal:calendar' %}">Calendar</a>
            </div>
          </div>
        </li>
        <li>
          <div class="card" style="width:18rem; height:32rem">
            <img src="{% static 'img/tictactoeimg.png' %}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Tic Tac Toe</h5>
              <p class="card-text">
                The classic game tic tac toe. No sign is required. Just pick names
                for your players and start playing!
              </p>
              <a class="btn btn-primary" href="{% url 'ttt:start_page' %}">Tic Tac Toe</a>
            </div>
          </div>
        </li>
        <li>
          <div class="card" style="width:18rem; height:32rem">
            <img src="{% static 'img/calculatorimg.png' %}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Calculator</h5>
              <p class="card-text">
                A calculator application created in javascript.
              </p>
              <a class="btn btn-primary" href="{% url 'calc:calculator' %}">Calculator</a>
            </div>
          </div>
        </li>
        <li>
          <div class="card" style="width:18rem; height:32rem">
            <img src="{% static 'img/russianstressimg.png' %}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Russian Text Stress Adder</h5>
              <p class="card-text">
                This app will take text written in Russian language and add pronunciation
                stress marks to the words.
              </p>
              <a class="btn btn-primary" href="{% url 'russian:change_text' %}">Russian Stress</a>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
{% endblock %}
