{% extends 'base.html' %}

{% block body_content %}
  <div class="row">
    <div class="col-md-6 offset-md-3 jumbotron">
      <div class="text-center">
        <h1>Jonathan Miller</h1>

        <p name="description">
          This is my description paragraph.
        </p>

        <a name="github-link" href="#">github</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="text-center">
        <ul class="project-list">
          <li>
            <a class="project-link" href="{% url 'todo_home' %}">ToDo List</a>
          </li>
          <li>
            <a class="project-link" href="{% url 'cal:calendar' %}">Calendar</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
