{% extends 'base.html' %}
{% block extra_css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts_style.css' %}">
{% endblock %}

{% block body_content %}
  <div class="row">
    <form action="{% url 'accounts:login' %}" method="post">
      {% csrf_token %}
      {{ form }}
      <button type="submit" class="btn btn-primary btn-block mb-4">Login</button>
    </form>

    <div class="text-center">
      <a href="{% url 'accounts:create_account' %}">Create New Account</a>
    </div>
  </div>
{% endblock %}
