{% extends 'base.html' %}
{% block extra_css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'ttt_style.css' %}">
{% endblock %}

{% block body_content %}
<body>

<section>

<h2 class="game-title">Tic Tac Toe</h2>

<br>

<div class="form-container">
 <form action="{% url 'ttt:main_page' %}" method="post">
  {% csrf_token %}
  {{ form.textx.label_tag }} {{ form.textx }}
  <br>
  {{ form.texto.label_tag }} {{ form.texto }}
  <br>
  {% if form.errors %}
  {{ form.errors }}
  {% endif %}
  <input class="newgame-btn" type="submit" value="Start Game">
 </form>
</div>

</section>

</body>
{% endblock %}
