{% extends 'base.html' %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'todo_style.css' %}">
{% endblock %}

{% block body_content %}
<body>

<br>

<div class="heading">
  <h2> To Do List </h2>
</div>

<br>

<div class="page-select">
  <button class='page-btn'>
    <a class="page-link" href="{% url 'todo:todo_list' %}"> Current Tasks </a>
  </button>
  <button class='page-btn'>
    <a class="page-link" href="{% if list %}{% url 'todo:completed_tasks' list.id %}{% else %}{% url 'todo:completed_tasks' %}{% endif %}"> Completed Tasks </a>
  </button>
  {% if user.email %}
  <button class='page-btn'>
    <a class="page-link" href="{% url 'todo:user_list' user.email %}"> My Lists </a>
  </button>
  {% endif %}
</div>

<br>

<div class="list-body-container">
  <ol class="task-list">
  {% for form in tasks_forms %}
  <li>
    <form action="{% url 'todo:complete' form.id %}" method="post">
      {% csrf_token %}
      {{form}} &nbsp; {{form.text}} &nbsp; ({{form.id}})
    </form>
  </li>
  {% endfor %}
  </ol>
</div>

<br>

<div class="functions-container">
  <div class="form-container">
    <form action="{% if list %}{% url 'todo:view_list' list.id %}{% else %}{% url 'todo:new_list' %}{% endif %}" method="post">
      {% csrf_token %}
      {{ add_form }}
      <button type="submit" id="add-btn" class="btn btn-primary btn-block mb-4">Add</button>
    </form>
  </div>

  {% if list %}
  <div class="form-container">
    <form action="{% url 'todo:edit_task' list.id %}" method="post">
      {% csrf_token %}
      {{ edit_form }}
      <button type="submit" id="edit-btn" class="btn btn-primary btn-block mb-4">Edit</button>
    </form>
  </div>

  <div class="form-container">
    <form action="{% url 'todo:delete_task' list.id %}" method="post">
      {% csrf_token %}
      {{ delete_form }}
      <button type="submit" id="delete-btn" class="btn btn-primary btn-block mb-4">Delete</button>
    </form>
  </div>
  {% endif %}

</div>

</body>
{% endblock %}
